html, body {
	background: #333;
}

#fix {
	background-image: url(http://placehold.it/200x200);
	background-repeat: no-repeat;
		background-attachment: fixed;
		background-position: 100px 100px;
}
#scroll {
	background-image: url(http://placehold.it/300x300);
	background-repeat: no-repeat;
		background-attachment: scroll;
		background-position:50px 50px;
}
#local {
	background-image: url(http://placehold.it/300x300);
	background-repeat: no-repeat;
		background-attachment: local;
		background-position:50px 50px;
}
